* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
   margin:40px 0 80px 76px;
}

.imagem {
    width: 595.18px;
    height: 500px;
    max-width: 100%;
    
}

.caixa {
    max-width: 500px;
}

header {
    margin: 40px 0 80px 76px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 125px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #17233D;
    cursor: pointer;
    margin-right: 23px;
}

h1 {
    font-weight: 700;
    width: 582px;
    height: 164px;
    color: #161A49;
    font-size: 62px;
    line-height: 82px;
}

p {
    font-weight: 400;
    width: 493px;
    height: 99px;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
}

.p1 {
    color: #6FBF44;
    font-weight: 500;
    width: 112px;
    height: 27px;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
}

.botao1 {
    background-color: #6FBF44;
    border: #4CB538;
    color: #FFFFFF;
    width: 124px;
    height: 51px;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (max-width: 570px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 17px 15px 0 0;
        margin: 0;
    }

    .link-header {
        display: none;
    }

    .botao1 {
        display: block;
        width: 91px;
        height: 31px;
        font-size: 12px;
        line-height: 18px;
        border-radius: 6px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 24px 40px;
    }

    .caixa {
        order: 1;
        width: 100%;
        max-width: 278px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 76px;
    }

    h1 {
        width: 278px;
        height: auto;
        margin: 0 0 29px 0;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    p {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 0 20px 0;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .p1 {
        margin: 0;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
    }

    .imagem {
        order: 2;
        width: 312px;
        height: auto;
        margin-top: 20px;
    }
}